<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">One time wash</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content</p>
                <button (click)="open('One Time Booking')" class="btn btn-primary">Book Your slot</button>
                <!-- <button (click)="open(content)" class="btn btn-lg btn-outline-primary">Launch demo modal</button> -->

            </div>
        </div>
    </div>
</div>
<!-- <booking-model></booking-model> -->
<!-- <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Book your slot</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div>
</ng-template> -->