<!-- <div class="row">
    <div class="col-md-12">
        <div class="card">
            <img src="https://portfolio-karthik.s3.ap-south-1.amazonaws.com/freshwash/one-time-wash.png"
                class="card-img-top" alt="one-time-wash">
            <div class="card-body">
                <h5 class="card-title">One time Wash</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a routerLink="/one-time-wash">Read more....</a>

                <div class="row">
                    <div class="col">
                        <button (click)="open('One Time Wash')" type="button"
                            class="btn btn-warning btn-lg btn-block">Book Your Slot</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Monthly subscription</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a routerLink="/monthly-subscription">Read more....</a>

                <div class="row">
                    <div class="col">
                        <button (click)="open(plan)" type="button"
                            class="btn btn-warning btn-lg btn-block">Book Your Slot</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Yearly subscription</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a routerLink="/yearly-subscription">Read more....</a>

                <div class="row">
                    <div class="col">
                        <button (click)="open('Yearly Subscription')" type="button"
                            class="btn btn-warning btn-lg btn-block">Book Your Slot</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide *ngFor="let plan of plans">
            <div class="row">
                <div class="col-4">
                    <img [src]="plan.imageUrl" alt="one-time-wash" width="380" height="500">
                </div>
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{plan.title}}</h5>
                            <p class="card-text">{{plan.description}}</p>
                            <a [routerLink]="plan.routerLink">Read more....</a>

                            <div class="row">
                                <div class="col">
                                    <button (click)="open(plan.buttonContent)" type="button"
                                        class="btn btn-warning btn-lg btn-block">Book Your Slot</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
</div>