<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Yearly subscription</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content</p>
                <button (click)="open('Yearly subscription')" class="btn btn-primary">Book Your slot</button>
            </div>
        </div>
    </div>
</div>