<div class="container-fluid" style="margin-top:80px;">
    <div class="row">
        <div class="col-3">
            <div class="col form-group">
                <label>Start Date</label>
                <input class="form-control" type="date">
            </div>
            <div class="col form-group">
                <label>End Date</label>
                <input class="form-control" type="date">
            </div>
            <div class="col form-group">
                <label>Order Status</label>
                <select class="form-control">
                    <option>Open</option>
                    <option>Assigned</option>
                    <option>Completed</option>
                    <option>Escalate</option>
                </select>
            </div>
            <div class="col form-group">
                <label>Assinee name</label>
                <input class="form-control" type="text">
            </div>
            <div class="col form-group">
                <label>Client name</label>
                <input class="form-control" type="text">
            </div>
            <div class="col">
                <button class="btn btn-warning">Filter</button>
            </div>
        </div>
        <div class="col-9">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Name</th>
                        <th scope="col">Assigned to</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>
                            <select>
                                <option>Karthik</option>
                                <option>senthil</option>
                                <option>Jyothi</option>
                            </select>
                        </td>
                        <td>
                            <a routerLink="/admin/home/manage-users" [queryParams]="{view:'true'}">View</a> |
                            <a routerLink="/admin/home/manage-users" [queryParams]="{view:'false'}">Edit</a> |
                            <a href="#">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        <td>
                            <a href="#">View</a> |
                            <a href="#">Edit</a> |
                            <a href="#">Delete</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                        <td>
                            <a href="#">View</a> |
                            <a href="#">Edit</a> |
                            <a href="#">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>